.left{
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(to bottom, $Lightslateblue-bg, $Lightroyalblue-bg);
    color: $Lightlavender;

    &-total{
        display: flex;
        flex-direction: column;
        border-radius: 50%;
        background: linear-gradient(to bottom, $Violetblue-cir, $Persianblue-cir);
        padding: 1rem 1.5rem;

        &>strong{
            color: $White;
            font-weight: 800;
            font-size: 40px;
        }

        &_max{
            font-size: 12px;
            margin-top: -6px;
        }
    }

    &>h1{
        color: $White;
        font-weight: 800;
    }

    &>small{
        font-size: 13px;
    }
}