@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
}

.app {
  display: grid;
  min-height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto auto 0 auto;
  width: 510px;
  height: auto;
  border-radius: 20px;
  box-shadow: 5px 10px 10px 5px hsl(241, 100%, 89%);
}

.left {
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: hsl(241, 100%, 89%);
}
.left-total {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background: linear-gradient(to bottom, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  padding: 1rem 1.5rem;
}
.left-total > strong {
  color: hsl(0, 0%, 100%);
  font-weight: 800;
  font-size: 40px;
}
.left-total_max {
  font-size: 12px;
  margin-top: -6px;
}
.left > h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 800;
}
.left > small {
  font-size: 13px;
}

.stu {
  display: grid;
  padding: 1.5rem;
  gap: 1rem;
}
.stu-heading {
  color: hsl(224, 30%, 27%);
  font-size: 20px;
}
.stu-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  font-size: 16.5px;
  background: rgb(250, 246, 246);
  color: hsl(0, 100%, 67%);
}
.stu-score:nth-child(3) {
  background: rgb(253, 248, 239);
  color: hsl(39, 100%, 56%);
}
.stu-score:nth-child(4) {
  background: hsl(173, 67%, 98%);
  color: hsl(166, 100%, 37%);
}
.stu-score:nth-child(5) {
  background: hsl(235, 52%, 96%);
  color: hsl(234, 85%, 45%);
}
.stu-score_left {
  display: flex;
  gap: 0.3rem;
}
.stu-score > strong {
  color: hsl(224, 30%, 27%);
}
.stu-score_right {
  font-size: 15px;
  color: gray;
}
.stu-submit {
  height: 2rem;
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  background: hsl(224, 30%, 27%);
  border: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}